body{
  text-align: center;
}

.quote-container{
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: 200px;
}

button{
  border-radius: 1em;
  border-style: solid;
  height: 30px;
  width: 150px;
  font-size: 16px;

  cursor: pointer;
}

.button-container{
  position: fixed;
  top: 100px;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
